body {
  margin: 0;
  padding: 0;

  font-family: 'Permanent Marker', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a.branding-link {
  color: #fff;
  font-size: 55px;
  font-weight: 500;
}

a.branding-link:hover {
  color: #fff;
  text-decoration: none;
}
